<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css">
		<link href="file:///C:/Users/Egan/Documents/GitHub/pdf-microservice/app/styles/server.styles.complaint.css" type="text/css" rel="stylesheet" media="all" />
	</head>
	<body>
		<span class="landlord-address">{{{landlordInfo.address}}}</span>
		<span class="current-date">{{currentDate}}</span><div style="clear:both;"></div>
		<h2>Dear {{landlordInfo.name}},</h2>
		<p>I need the following repairs in my apartment referenced below and/or in the public areas of the building:</p>
		<div class="issues-list">{{#lister issuesAssembled}}
			<div class="issues-list__single">
    		<h3>{{title}}</h3>
   			<h4>ISSUES</h4>	
   			<ul>{{#lister vals}} 
   				<li>{{title}}{{#if emergency}} <strong>(EMERGENCY FIX)</strong>{{/if}}</li> 
   			{{/lister}}</ul> 
    		<span class="issues-list__single-start"><strong>Start date:</strong> {{startDate}}</span><br>
   			<span><strong>Description:</strong> {{description}}</span> 
   		</div>
   	{{/lister}}</div>
		<p>I have already contacted the person responsible for making repairs on [date of contacting super], but the issue has not been resolved. In the meantime, I have recorded evidence of the violation[s] should legal action be necessary.</p>
		<p>If these repairs are not made by {{oneMonthLater}} I will have no choice but to use my legal remedies to get the repairs done.</p>
		<p>Pursuant to NYC Admin Code § 27-2115 an order of civil penalties for all existing violations for which the time to correct has expired is as follows:</p>
		<p>"C" violation:\n$50 per day per violation (if 1-5 units)\n $50-$150 one-time penalty per violation plus $125 per day (5 or more units)</p>
		<p>“B” Violation: \n$25-$100 one-time penalty per violation plus $10 per day</p>
		<p>“A” Violation: \n$10-$50 one-time penalty per violation</p>
		<p>Please be advised that NYC Admin Code § 27-2115 provides a civil penalty where a person willfully makes a false certification of correction of a violation per violation falsely certified.</p>
		<p>Please contact me as soon as possible to arrange a time to have these repairs made at the number provided below.</p>
		<br>
		<div class="salutation">
			<span>Regards,</span><br/>
			<span>{{tenantInfo.name}}</span><br>
			<span>{{{tenantInfo.address}}}</span><br>
			<span>{{tenantInfo.phone}}</span><br>
		</div>
	</body>
</html>