<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css">
		<link href="http://{{url}}/styles/server.styles.complaint.css" type="text/css" rel="stylesheet" media="all" />
	</head>
	<body>
		<span class="landlord-address">{{breaklines landlordInfo.address}}</span>
		<span class="current-date">{{currentDate}}</span>
		<div style="clear:both;"></div>
		<h2>{{landlordInfo.name}},</h2>
		<p>I need the following repairs in my apartment referenced below and/or in the public areas of the building:</p>
		<h3>ISSUES</h3>
		<div class="issues-list">
			{{#lister issues}}
				{{#if_neq title 'Landlord'}}
					<div class="issues-list__single">
		    		<h4>{{title}}</h4>	
		   			<ul>
		   				{{#lister issues}} 
		   					<li>{{key}}{{#if emergency}} <strong>(EMERGENCY FIX)</strong>{{/if}}</li> 
		   				{{/lister}}
		   			</ul> 
		    		{{#if startDate}}<span class="issues-list__single-start"><strong>Start date:</strong> {{startDate}}</span><br>{{/if}}
		   			{{#if description}}<span><strong>Description:</strong> {{description}}</span>{{/if}} 
		   		</div>
	   		{{/if_neq}}
   		{{/lister}}
   	</div>
   	{{#if accessDates}}
	   	<h3>ACCESS DATES</h3>
	   	<p>Below are some access dates provided for when repairs can be made. Please contact (using the information provided below) in order to make arrangements. <strong>Anyone coming to perform repairs should arrive no later than 12pm during the provided dates.</strong></p>
	   	<ul>
				{{#lister accessDates}}
					<li>{{this}}</li>
				{{/lister}}
	   	</ul>
   	{{/if}}
		
		<p>I have already contacted the person responsible for making repairs on on several occasions, but the issue has not been resolved. In the meantime, I have recorded evidence of the violation[s] should legal action be necessary.</p>
		<p>If these repairs are not made {{#if emergency}} immediately {{else}} {{oneMonthLater}} {{/if}} I will have no choice but to use my legal remedies to get the repairs done.</p>
		<p>Pursuant to NYC Admin Code § 27-2115 an order of civil penalties for all existing violations for which the time to correct has expired is as follows:</p>
		<p class="remove-indent">"C" violation:</p>
			<p class="no-margin">$50 per day per violation (if 1-5 units)</p>
			<p class="no-margin">$50-$150 one-time penalty per violation plus $125 per day (5 or more units)</p>
		<p class="remove-indent">“B” Violation:</p> 
			<p class="no-margin">$25-$100 one-time penalty per violation plus $10 per day</p>
		<p class="remove-indent">“A” Violation:</p> 
			<p class="no-margin">$10-$50 one-time penalty per violation</p>
			<p class="no-margin">Please be advised that NYC Admin Code § 27-2115 provides a civil penalty</p>
			<p class="no-margin">where a person willfully makes a false certification of correction of a</p>
			<p class="no-margin">violation per violation falsely certified.</p>
			<p>Please contact me as soon as possible to arrange a time to have these repairs made at the number provided below.</p>
		<br>
		<div class="salutation">
			<span>Regards,</span><br/>
			<span>{{tenantInfo.name}}</span><br>
			<span>{{{tenantInfo.address}}}</span><br>
			<span>{{tenantInfo.phone}}</span><br>
		</div>
	</body>
</html>